body {
    padding: 20px 4%;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #c26815;
    text-align: center;
}

.container {
    padding: 20px;
}

.apresentacao {
    padding: 30px 4%;
    margin-bottom: 20px;
    line-height: 1.7;
    font-size: 20px;
}

.convite-cadastro {
    display: flex;
    gap: 20px;
}

#img-cronometro {
    width: 800px;
    height: 0450px;
}

/* Estilos para o formulário */
.cadastro {
    width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    font-weight: bold;
}

#signupName, #signupEmail, 
#signupAge, 
#signupPassword, 
#confirmPassword {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px;
}

#button-submit  {
    margin-top: 20px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c26815;
    color: #fff;
    transition: background-color 0.3s;
}

#button-submit:hover {
    background-color: #57310e;
} 

a {
    color: #c26815;
}