 body {
    padding: 20px 4%;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    color: #c26815;
    text-align: center;
}

.container {
    padding: 20px;
}

.apresentacao {
    padding: 30px 4%;
    margin-bottom: 20px;
    line-height: 1.7;
    font-size: 20px;
}

.convite-cadastro {
    display: flex;
    gap: 20px;
}

#img-cronometro {
    width: 800px;
    height: 0460px;
}


.cadastro {
    width: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ebe7e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ebe7e3;
    padding: 10px;
}

label{
    font-weight: bold;
}

#signupName,
#signupEmail,
#signupAge, 
#signupPassword,
#confirmPassword  {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    width: calc(100% - 35px);
} 
.password-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.password-wrapper input[type="checkbox"] {
    display: none;
}

.password-wrapper img {
    width: 20px;
    height: auto;
    cursor: pointer;
}


#button-submit {
    margin-top: 15px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border-color: #c26815;
    cursor: pointer;
    background-color: #c26815;
    color: #fff;
    transition: background-color 0.3s;
}

#button-submit:hover {
    background-color: #ff7d04;
}

a {
    color: #c26815;
}